<title>My application</title>
<h1>Hello, World!</h1>
<h2>This program takes a list of integers into the first box and 3 integer values into the rest of the boxes and checks if all three of them are in the list</h2>
Result is {{result}}


<form action="compute" method="post">
    <textarea name="input1" rows="10" cols="30"></textarea>
    <textarea name="input2" rows="10" cols="30"></textarea>
    <textarea name="input3" rows="10" cols="30"></textarea>
    <textarea name="input4" rows="10" cols="30"></textarea>
    <br>
    <input type="submit">
</form>